* {
    margin: 0;
    padding: 0;
}

body {
    border: solid red 0px;
    overflow: hidden;
}

/* 最左边菜单栏 */
.sectionLeft {
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: solid red 0px;
    width: 300px;
    position: fixed;
    top: 0;
    left: -300px;
    /* overflow: visible; */
}

.sectionLeft {
    background-color: rgba(228, 133, 196, 0.5);
    min-height: 700px;
    z-index: -1;
}

/* 头像框 */
.headBigBox {
    position: relative;
    left: 25%;
    top: 6%;
    border: solid red 0px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.headPictureBox:hover {
    box-shadow: 5px 5px 5px rgba(249, 150, 216, 0.6);
}

.headPictureBox {
    background-color: pink;
    border: solid red 0px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.headPicture {
    width: 200px;
    height: 200px;
}

/* 划过头像出来的大图 */
.bigHPBox {
    display: none;
    position: relative;
    left: 18%;
    top: -75%;
    z-index: -1;
}

.bigHPPicture {
    border: solid red 0px;
    max-width: 1080px;
    width: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    /* display: none;*/
}

/* 上面的用户信息 */
.infoBAC {
    display: none;
}

/* 下面几个的hover事件 */
.saveUserInfo:hover,
.picker:hover,
.closeUp:hover {
    background-color: rgb(214, 135, 165);
}

/* 保存 */
.saveUserInfo {
    z-index: 1;
    position: relative;
    top: 730px;
    left: 950px;
    width: 90px;
    height: 45px;
    border: solid rgb(240, 197, 214) 0px;
    background-color: rgb(240, 197, 214);
    border-radius: 20%;
}

.saveUserInfo p {
    position: relative;
    top: 20%;
    left: 35%;
    color: #ff90cd;
    z-index: 3;
}

/* 收起 */
.closeUp {
    z-index: 1;
    position: relative;
    top: 685px;
    left: 830px;
    width: 90px;
    height: 45px;
    border: solid rgb(240, 197, 214) 0px;
    background-color: rgb(240, 197, 214);
    border-radius: 20%;
}

.closeUp p {
    position: relative;
    top: 20%;
    left: 35%;
    color: #ff90cd;
    z-index: 3;
}

/* 用户信息 */
.userInfoBox{
    z-index: 2;
    position: absolute;
    top: 200px;
    left: 400px;
}

.userInfoTitle{
    position: relative;
    top: -50px;
    font-size: 30px;
    left: 50px;
}

.userInfoUl{
    list-style: none;
}
.userInfoUl li{
    /* border: solid red 1px; */
    width: 380px;
    margin-top: 10px;
}
.userInfoUl li b{
    font-size: 25px;
}

.userInfoUl li input{
    height: 28px;
    width: 200px;
    font-size: 25px;
    position: relative;
    top: 0px;
    left: 5px;
    background-color: rgba(240, 197, 214,0.5);
    border: none;
}

.userInfoUl li:nth-child(2),
.userInfoUl li:nth-child(3),
.userInfoUl li:nth-child(5),
.userInfoUl li:nth-child(6),
.userInfoUl li:nth-child(7){
    position: relative;
    left: 25px;
}

.userInfoUl li:nth-child(4){
    position: relative;
    left: -75px;
}

.userInfoUl li:nth-child(8){
    position: relative;
    left: 5px;
}

/* 昵称 */
.nikeNameBox {
    border: solid #FFD5D5 0px;
    background-color: rgba(248, 171, 171, 0.671);
    border-radius: 25%;
    position: relative;
    left: 20%;
    top: 8%;
    width: 200px;
    height: 50px;
    overflow: hidden;
    text-align: center;
}

.nikeName {
    font-size: 30px;
    font-family: STLiti;
    color: #FFAAAA;
    display: inline-block;
    margin-top: 8px;
}

/* 菜单 */
.menuTable {
    position: relative;
    left: 0%;
    top: 12%;
}

.menuTable ul {
    list-style-type: none;
    border: solid 0px black;
    width: 300px;
}

.menuTable ul li {
    text-align: center;
    border: solid 0px #865174;
    background-color: rgba(143, 88, 126, 0.671);
    margin-top: 15px;
    height: 42px;
    width: 300px;
    position: relative;
}

.menuTable ul li:hover {
    background-color: rgba(187, 112, 149, 0.9);
    box-shadow: 0px 5px 5px rgba(249, 150, 216, 0.6)
}

.menuTable ul li p {
    font-size: 16px;
    padding: 3%;
    color: #F4C8C8;
    position: relative;
}

.menu1 {
    position: relative;
    left: -100px;
}

.menu2 {
    position: relative;
    left: 100px;
}

/* 最低部文字 */
.pliceText {
    width: 300px;
    height: 40px;
    position: absolute;
    bottom: 0px;
    text-align: center;
}

.pliceText p {
    font-size: 12px;
}

.sakuraXZBox {
    border: solid red 0px;
    position: fixed;
    top: 0%;
    margin-left: 300px;
}

.sakuraXZ {
    width: 90px;
}


.sakuraXZ {
    -webkit-animation: rotate 5s linear infinite;
    -moz-animation: rotate 5s linear infinite;
    -o-animation: rotate 5s linear infinite;
    animation: rotate 5s linear infinite;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg)
    }

    to {
        -moz-transform: rotate(359deg)
    }
}

@-o-keyframes rotate {
    from {
        -o-transform: rotate(0deg)
    }

    to {
        -o-transform: rotate(359deg)
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(359deg)
    }
}

.menuTable {
    opacity: 0%;
}

.menu1On {
    transform: translate(100px, 0px);
    transition: all 0.3s;
}

.menu1OFF {
    left: "-100px";
    transition: all 0s;
}

.menu2On {
    transform: translate(-100px, 0px);
    transition: all 0.3s;
}

.menu2OFF {
    left: "100px";
    transition: all 0s;
}

.rotate360 {
    transform: rotate(360deg);
    transition: all 0.5s;
}